/* .custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
    border-radius: 25px;
    border: 2px solid white;
    color: white; 
}

.custom-swiper .swiper-button-next:after,
.custom-swiper .swiper-button-prev:after {
    font-size: 24px; 
} */